h2 {
    color: white;
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    background: steelblue;
}

.navbar {
    background: cornflowerblue;
}

.row {
    margin-left: 0;
    margin-right: 0;
}


.alert-success {
    padding: 20px;
    background-color: #4682CF;
    color: white;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}

.alert-success-border {
    padding: 20px;
    border-radius: 6px;
    background-color: darkseagreen;
    color: white;
    margin-bottom: 15px;
    border: 1px solid #cccccc;
}




.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}


.closebtn:hover {
    color: black;
}
