{% extends 'base.html' %}
{% block body %}

    <div class="col-md-4"></div>
    <div class="col-md-4" style="margin-top: 50px">

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Criar conta</h3>
            </div>
            <div class="panel panel-body">
                <form class="form-horizontal" role="form"
                      action="{% url 'create_account' %}" method="post">
                    {% csrf_token %}

                    {{ form.as_p }}

                    {% if messages %}
                        <div class="alert-success-border">
                            {% for message in messages %}
                                <p style="color: white;"
                                   class="closebtn"
                                   onclick="this.parentElement.style.display='none';">&times;</p>
                                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>


                            {% endfor %}

                            <button type="button" class="close"
                                    data-dismiss="alert" aria-hidden="true">
                            </button>


                        </div>
                    {% endif %}

                    <button class="btn btn-primary btn-block" type="submit">Criar</button>

                    <ul class="btn btn-info btn-block" disabled>
                        <li>Sua conta vai ser criada com 650 de saldo!</li>
                    </ul>

                    <br>

                    <a href="{% url 'index' %}">Transferir dinheiro</a>

                </form>
            </div>

        </div>

    </div>

{% endblock %}