
{% extends 'base.html' %}

{% block body %}

<div class="col-md-4"></div>

<div class="col-md-4">

    <h2>Blue Bank</h2>
    <hr>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Transferência</h3>
        </div>


        <div class="panel panel-body">
            <form action="{% url 'index2' %}" method="post" class="form-group-sm">
                {% csrf_token %}

                {% if form.errors %}
                    <div class="alert alert-danger">
                        <button type="button" class="close"
                                data-dismiss="alert" aria-hidden="true">
                        </button>
                        {{ form.non_field_errors }}
                    </div>
                {% endif %}

                {% if messages %}
                    <ul class="alert-success-border">
                        {% for message in messages %}
                            <li style="color: white; text-align: center" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
                {% endif %}


                <h5 class="btn btn-info" disabled style="margin-block-end: 10px">Dados Conta Origem</h5>


                <div class="form-group">
                    <input id="id_cpf1" name="cpf1" type="text" placeholder="CPF (xxx.xxx.xxx-xx)" class="form-control"
                           required
                           autofocus>
                </div>

                <div class="form-group">
                    <input id="id_agency_code1" name="agency_code1" type="text" placeholder="Número da agencia (xxxx)"
                           class="form-control" required>
                </div>

                <div class="form-group">
                    <input id="id_account_number1" name="account_number1" type="text"
                           placeholder="Número da conta (xxxxxxxx-x)" class="form-control"
                           required>
                </div>

                <div class="form-group">
                    <input id="id_value" name="value" type="number"
                           placeholder="Valor" class="form-control"
                           required>
                </div>

                <hr/>

                <h5 class="btn btn-success" disabled style="margin-block-end: 10px">Dados Conta Destino</h5>

                <div class="form-group">
                    <input id="id_cpf2" name="cpf2" type="text" placeholder="CPF (xxx.xxx.xxx-xx)" class="form-control"
                           required
                           autofocus>
                </div>

                <div class="form-group">
                    <input id="id_agency_code2" name="agency_code2" type="text" placeholder="Número da agencia (xxxx)"
                           class="form-control" required>
                </div>

                <div class="form-group">
                    <input id="id_account_number2" name="account_number2" type="text"
                           placeholder="Número da conta (xxxxxxxx-x)" class="form-control"
                           required>
                </div>


                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block">Transferir</button>
                </div>


                <hr/>


                <a href="{% url 'create_account' %}">Criar conta</a>

            </form>
        </div>


    </div>


</div>

{% endblock %}